body{
    font-family: 'Pangolin', cursive;
    background: rgb(219, 174, 58);
    text-align: center;
    font: normal 25pt;
}
h1{
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 5px rgba(2, 1, 0, 0.40);
}
h3{
    font-size: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.20);    
}
img#pedraimg{
    cursor: pointer;
    border-radius: 10px;
    padding: 15px;
    width:  250px;
    margin: auto;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
    padding: 10px;
    background-color: white;
    height: 270px; 
    width: 250px; 
    display: table-cell; 
    margin-bottom: 20px;
}
img#papelimg{
    cursor: pointer;
    border-radius: 10px;
    padding: 15px;
    width:  250px;
    margin: auto;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
    padding: 10px;
    background-color: white;
    height: 270px; 
    width: 250px; 
    display: table-cell; 
    margin-bottom: 20px;
}
img#tesouraimg{
    cursor: pointer;
    border-radius: 10px;
    padding: 15px;
    width:  250px;
    margin: auto;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
    padding: 10px;
    background-color: white;
    height: 270px; 
    width: 250px; 
    display: table-cell; 
    margin-bottom: 20px;
}
img#pc{
    border-radius: 10px;
    padding: 15px;
    width:  700px;
    margin: auto;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
    padding: 10px;
    background-color: white; 
}
input#jgr{
    font: normal 18;
    border-radius: 10px;
    padding: 15px;
    width:  250px;
    margin: auto;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
    padding: 10px;
    background-color: rgb(241 26 177 / 60%);
}
input#rst{
    font: normal 18;
    border-radius: 10px;
    padding: 15px;
    width:  250px;
    margin: auto;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
    padding: 10px;
    background-color: white;
    
}
footer{
    color: white;
    text-align: center;
    font-style: italic;

}
#txt{
    font-size: 20px
}
.radio_label {
    font-size: 23px;
}

.container_image {
    float: left;
    padding: 8px;
    display: grid;
    align-content: flex-end;
}

.container_form {
    padding: 10px;
    margin: 5px;
    text-align: justify;
    display: inline-block;
}

.container {
    display: table;margin: 0 auto;
}

.holder {
    width: 100%;
}

.btn_play {
    
}